/* title section*/
body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;/*(write allthe property i.e text-align:center)*/
}
h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
}
p{
    color:#8f8f8f;
}
                                                        /*h1{
                                                            font-size: 3.5rem;
                                                            line-height: 1.5;
                                                        }*/
                                                        /*h2{
                                                            font-size: 3rem;
                                                            line-height: 1.5;
                                                        }*/
                                                        /* h3{
                                                            font-size: 1.5rem;
                                                        } */



/* HEADINGS */
.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}
/* container */
.container-fluid{
    padding: 7% 15% ;
}
/* section */
.coloured-section{
    background-color: #ff4c68;
    color: #ffff;
}
.white-section{
    background-color: #ffff;
}
/*navigation bar(navbar font-style)*/
.navbar{
    padding: 0px opx 4.5rem;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    
}
.nav-item{
    padding: 0px 18px;
}
.nav-link{
    font-size:1.2rem;
    font-family:"Montserrat-light";
}
/*download buttons*/
.download-button{
    margin:5% 3% 5% 0;
}
#title{
    /* background-color: #ff4c68;
    color: #ffff; */
    text-align: left; /*(write this style in downward i.e #titile .container-fluid class section*/
}
#title .container-fluid{
    padding: 3% 15% 7%;
}
/*image title*/
.image-title{
    width: 19%;
    transform: rotate(25deg);
    position:absolute;
    /* z-index: 0; */
}
/*features*/
#features{
    padding: 7% 15%;
    background-color: #ffff;                                    
    position:relative;
    z-index:1;
}
.features-title{
    font-size: 1.5rem;
}
.feature-box{
                    /* text-align: center; */
    padding: 5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
/* Testimonials section */
#testimonials{
    /* text-align: center; */
    background-color:#ef8172;
    color: #ffff;
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
/* .carousel-item{
    padding: 7% 15%;
} */
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin:20px;
}
/* press section */
#press{
    background-color: #ef8172;
    /* text-align: center; */
    padding-bottom: 3%;
}
.press-logos{
    width:15%;
    padding: 20px 20px 15px;
}
/* pricing section */
#pricing{
    padding: 100px;
    /* text-align:center; */
}
.price-text{
    font-size: 3.5rem;
    line-height: 1.5;
}
.pricing-column{
    padding: 2% 3%;
}
/* call to action section*/
                /* #cta{
                    background-color: #ff4c68;
                    color:#ffff; */
                    /* text-align:center; */
                    /* padding: 7% 15%;
                }
/* it is same as big-heading thats why commented */
                /* .cta-heading{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 3.5rem;
                } */   
/* footer section */
#footer{
    /* padding: 7% 15%; */
    /* text-align: center; */
}
.footer-logos{
    margin: 10px;
}
.footer-textalign{
    /* text-align: center; */
    display: inline-block;
}
/*@media (max-width:1028px) {
    .title-image{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}
